#popupOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overLayHidden {
    display: none;
}

.overLayVisible {
    display: block;
}

.popupContainer {
    position: relative;
    border-radius: 10px;
    width: 50%;
    margin: 250px auto auto;
    background-color: white;
    animation: animatePopUp 0.5s ease;
}

@keyframes animatePopUp {
    from {
        top: -400px;
    }
    to {
        top: 0;
    }
}

#popupHeader {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rebeccapurple;
    color: white;
    font-size: large;
    font-weight: bold;
    height: 50px;
    padding: 10px;
}

#popupContent {
    padding: 30px 10px 10px;
}

#buttonContent {
    padding: 10px;
    display: flex;
}

#cancelButton {
    background-color: rebeccapurple;
    color: white;
    min-width: 60px;
    margin-left: auto;
    cursor: pointer;
}